body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  border: 1px solid black;
  width: 256px;
  height: 256px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small-box{
  /*border: 1px solid black;*/
  width: 16px;
  height: 16px;
  border-collapse: collapse;
}

