body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
h1,
p{
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 78px;
}
p{
  font-size: 36px;
}
#container{
  border: 2px solid black;
  border-radius: 7px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.small-box{
  border-collapse: collapse;
}

